
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900");
html {
  height: 100%;
}

body {
  background: linear-gradient(147deg, #3023ae, #c86dd7);
  background-attachment: fixed;
  opacity: 0.9;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

header #right-header {
  background: url("../PNG/ATF1left.png") no-repeat right/contain;
  height: 80vh;
}

@media (max-width: 767px) {
  header #right-header {
    background: unset !important;
    height: unset !important;
    position: absolute;
    top: 13vh;
    z-index: 22;
  }
  header #right-header p {
    text-align: center !important;
    padding: 0 !important;
  }
  header #right-header p .signup {
    width: 35vw !important;
    height: 6vh !important;
    font-size: 5vw !important;
    border-radius: 5vw !important;
    margin-top: 10vw !important;
  }
}

header #right-header p {
  text-align: right;
  padding: 2vw;
}

header #right-header p .signup {
  background: #00a9ff;
  cursor: pointer;
  width: 10vw;
  height: 5vh;
  border: none;
  outline: none;
  border-radius: 2vw;
  color: white;
  font-size: 1vw;
}

header #left-header {
  background: url("../PNG/ATF1right.png") no-repeat left/contain;
  height: 110vh;
  z-index: 2;
}

@media (max-width: 767px) {
  header #left-header {
    background: url("../svg-mobile/group-4.svg") no-repeat center/cover;
    height: 40vh;
  }
  header #left-header p {
    font-size: 8vw !important;
    text-align: left !important;
    padding: 3.5vw !important;
  }
  header #left-header p .mobile-btn {
    display: block !important;
    float: right;
  }
}

header #left-header p {
  color: white;
  text-align: center;
  padding: 1.5vw;
  font-size: 2vw;
  font-weight: bold;
}

header #left-header p .mobile-btn {
  display: none;
}

header .content-header {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
  z-index: 3;
}

@media (max-width: 767px) {
  header .content-header .search {
    width: 90vw !important;
    height: 8vh !important;
    margin-top: 12vw !important;
  }
  header .content-header .search input {
    width: 60vw !important;
    font-size: 4vw !important;
    margin-left: 8vw !important;
  }
  header .content-header .search div {
    width: 20vw !important;
  }
  header .content-header .search div span {
    font-size: 4vw !important;
  }
  header .content-header p  {
    margin-top: 14vw !important;
    font-weight: 100;
  }
  header .content-header p span {
    font-size: 14vw !important;
    font-weight: 100;
  }
  header .content-header .info {
    font-size: 4.5vw !important;
    margin-top: 5vw !important;
  }
  header .content-header .circle {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: unset !important;
    right: unset !important;
    bottom: -5% !important;
    font-size: 5vw !important;
  }
  header .content-header .circle span {
    padding-left: 5vw;
  }
}

header .content-header .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 5%;
  top: 30%;
  font-size: 1vw;
}

header .content-header .circle span i {
  color: white;
}

header .content-header p span {
  font-size: 8vw;
  color: white;
  font-weight: 100;
}

header .content-header .info {
  color: white;
  font-size: 1vw;
}

header .content-header .search {
  background: white;
  height: 5vh;
  width: 60vw;
  margin: 0px auto;
  border-radius: 10vw;
}

header .content-header .search input {
  height: 100%;
  float: left;
  width: 50vw;
  border: none;
  outline: none;
  margin-left: 1.5vw;
  font-size: 1vw;
}

header .content-header .search div {
  float: right;
  background: #00a9ff  url("../svg/Search.svg") no-repeat center center;
  ;
  height: 100%;
  width: 4vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 10vw 10vw 0px;
}

header .content-header .search div span {
  font-size: 1vw;
}

main #main {
  margin-top: -20%;
}

@media (max-width: 767px) {
  main #main {
    margin-top: 60%;
  }
}

main .q {
  position: absolute;
  width: 100%;
  height: 140vh;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  main .q {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 155vh !important;
    margin-top: 50vw !important;
  }
  main .q img {
    width: 30vw !important;
  }
}

main .q img {
  width: 9vw;
}

main  #main-left {
  background: url("../PNG/ATF2right.png") no-repeat left/contain;
  height: 130vh;
  z-index: -1;
}

@media (max-width: 767px) {
  main #main-left {
    background: url("../PNG/mobileelementright.png") no-repeat right/cover;
    height: 162vh !important;
    margin-top: 50vw !important;
  }
  main #main-left .content {
    text-align: center;
    right: 10vw !important;
  }
  main #main-left .content h4 {
    font-size: 5.5vw !important;
    margin-top: -15vw !important;
  }
  main #main-left .content div {
    border-bottom: none !important;
  }
  main #main-left .content span {
    float: none !important;
    margin-right: 0 !important;
    font-size: 5vw !important;
  }
  main #main-left .content p {
    float: none !important;
    font-size: 4vw !important;
  }
}

main #main-left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00a9ff;
  position: absolute;
  top: 35vh;
  right: 15vh;
}

main #main-left .content h4 {
  color: #00a9ff;
  margin-bottom: 5%;
  font-size: 1.5vw;
}

main #main-left .content div:first-child,
main #main-left .content :last-child {
  border-bottom: none;
}

main #main-left .content div {
  color: black;
  margin-bottom: 2%;
  border-bottom: 1px solid #00a9ff;
}

main #main-left .content div span {
  float: left;
  color: #00a9ff;
  margin-right: 15px;
  font-size: 1vw;
}

main #main-left .content div p {
  font-size: 0.9vw;
  float: right;
}

main #main-right {
  background: url("../PNG/ATF2left.png") no-repeat right/contain;
  height: 130vh;
  z-index: 1;
}

@media (max-width: 767px) {
  main #main-right {
    background: url("../PNG/mobileelementleft.png") no-repeat left/cover;
    margin-top: -35vw;
    height: 145vh !important;
  }
  main #main-right .content {
    text-align: center;
    left: 5vw !important;
    top: 40vh !important;
  }
  main #main-right .content h4 {
    font-size: 5.5vw !important;
  }
  main #main-right .content div {
    border-bottom: none !important;
  }
  main #main-right .content span {
    float: none !important;
    margin-right: 0 !important;
    font-size: 5vw !important;
  }
  main #main-right .content p {
    float: none !important;
    font-size: 4vw !important;
  }
}

main #main-right .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #00a9ff;
  position: absolute;
  top: 50vh;
  left: 15vh;
}

main #main-right .content h4 {
  color: #00a9ff;
  margin-bottom: 5%;
  font-size: 1.5vw;
}

main #main-right .content div:first-child,
main #main-right .content :last-child {
  border-bottom: none;
}

main #main-right .content div {
  color: black;
  margin-bottom: 2%;
  border-bottom: 1px solid #00a9ff;
}

main #main-right .content div span {
  float: left;
  color: #00a9ff;
  margin-right: 15px;
  font-size: 1vw;
}

main #main-right .content div p {
  font-size: 0.9vw;
  float: right;
}

main #section3 {
  margin-top: -5vw !important;
}

main  #right-box {
    background: url("../PNG/Bottomelementleft.png") no-repeat right/contain;
  height: 100vh;
  width: 100vw;
  top: 20vw;
  z-index: -1;
}

main .title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media(max-width:767px){
    main  .title h4{
       margin-top: 10vw !important;
       margin-bottom:70vw;
       font-size: 5vw !important;
    }
}

main .title h4{
    color: white;
    font-size: 4vw;
}

main #right-box .box:first-child{
    margin-top: -15vw;
}
main #right-box .box{
    background: white;
    border-radius: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vw;
    width: 568px;
    height:129px;
    padding: 20px;
}
main #right-box .box:nth-child(2){
    margin-right: 15vw !important;
    margin-top: -5vw !important;
}

main #right-box .box div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #464646;
    }

    @media(max-width:767px){
        
        main #left-box .box{
            width:336px !important;
            height:121px !important;
              margin-bottom: 5vw !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        main #right-box .box{
            width:336px !important;
            height:121px !important;
        }
      main #right-box{
          background: unset !important;
      }
      main #left-box .content{
         display: block;
         text-align: center;
        margin-top: -70%;
        margin-left: 50px;
      }
      main #right-box .content{
        display: block;
        text-align: center;
       margin-top: -43%;
       margin-left: 50px;
     }
        main #left-box .box div{
           margin-left: 55px;
        }
        
        main #left-box .content .box:nth-child(2), .box:first-child{
            margin-top: 20vw !important;
        }
        main #right-box .content .box:first-child{
            margin-top: 25vw !important;
            margin-bottom:25vw;
        }
        main #right-box .content .box:nth-child(2){
            margin-bottom: 35vw !important;
        }
        main #left-box .box div span {
            position: absolute;
            margin-top: -19vw;
            margin-left: -7vw;
 
        }
      
        main #left-box  .box2{
            position: absolute;
            width: 320px !important;
            border-radius: 66px;
            height: 6rem;
            margin-top: 6rem;
            margin-left:1rem !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        }
       
        main #left-box .box:first-child div p{
            font-size: 3vw !important;
            text-align: center;
            padding-bottom: 5px;
        }
        main #right-box .box:first-child div p{
            font-size: 3vw !important;
            text-align: center;
            padding-bottom: 5px;
        }
       
        main #right-box .box div span {
            position: absolute;
            margin-top: -19vw;
            margin-left: -2vw;
 
        }
        main #left-box .box:nth-child(2) div span{
            background: url("../svg/plus.svg")no-repeat center center !important;
         margin-top: -20vw !important;
        }
        main #left-box .box:nth-child(2) div p{
            position: absolute;
            margin-top: 1rem !important;
            font-size: 0.4rem !important;
        }
        main #left-box .box {
            display: block;
        }
      

        main #left-box .content .box div p{
            font-size: 2.5vw !important;
            text-align: center;
        }
        main #right-box .content .box:nth-child(2) p,
        main #left-box .content .box:nth-child(2) p{
            position: relative;
            font-size: 2.5vw !important;
            text-align: center;
        }

        main #boxes #left-box{
            background: unset !important;
        }
        
      
    }
    
    main #right-box .box div span{
        background: url("../svg/plus.svg") no-repeat center center;
        width: 15vw !important;
        height: 11vh !important;  
        margin-right:55px;            
    }
    main #right-box .box div p{
        margin-right:55px;
    }

    main #left-box .box:first-child{
        margin-top: -12vw !important;
        margin-left: 1vw;
    }
    main #left-box .box:nth-child(2){
        margin-top: -5vw !important;
        margin-left: 1vw;
    }
main #left-box .box{
    background: white;
    border-radius: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vw;
    width: 568px;
    height:129px;
}
main #left-box .box:nth-child(2) div span{
    background: url("../svg/minus.svg") no-repeat center center;
    width: 15vw !important;
    height: 11vh !important;  
    margin-right:55px;  
}

main #left-box .box div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #464646;
        border-bottom: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    
    main #left-box .box div span{
        background: url("../svg/plus.svg") no-repeat center center;
        width: 15vw !important;
        height: 11vh !important;  
                    
    }
    main #left-box .box div p{
        margin-right:55px;
        color: #464646;
        font-size: 1vw;
    }

    main #left-box  .box2{
        border-radius: 66px;
        background: #fff;
        padding: 0 18px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    main #left-box .box:nth-child(2) .box2 p{
        color: #00a9ff;
        text-align:center;
    }


@media (max-width: 767px) {
  main #boxes #right-box {
    background: unset !important;
    height: unset !important;
  }
}
main #boxes{
    height: 100vh !important;
}

main #boxes  #left-box {
  background: url("../PNG/Bottomelementright.png") no-repeat left/contain;
  z-index: -1;
  top: 15vw;
}

@media (max-width: 767px) {
  main #boxes #left-box {
    height: 250px;
    margin-top: -5%;
  }
}

main #section3 {
  background: #623bbb;
  text-align: center;
  color: white;
  padding: 10vh 0 10vh 0;
  margin-top: -35%;
  z-index: 4;
}

@media (max-width: 767px) {
  main #section3 {
    margin-top: -25%;
  }
  main #section3 h2 {
    font-size: 8vw !important;
    font-weight: bold;
  }
  main #section3 h3 {
    font-size: 5.5vw !important;
  }
  main #section3 p {
    font-size: 3.5vw !important;
  }
  main #section3 .numbers div {
    height: 5vh !important;
    max-width: 9vw !important;
    font-size: 5vw !important;
  }
}

main #section3 p {
  font-size: 0.9vw;
}

main #section3 h2 {
  font-size: 2vw;
  font-weight: bold;
}

main #section3 h3 {
  font-size: 1.5vw;
}

main #section3 .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00a9ff;
  margin: 5vh 0 0 0;
}

main #section3 .numbers .select {
  background: #00a9ff;
  color: white;
}

main #section3 .numbers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  height: 5vh;
  max-width: 2.5vw;
  margin-left: 2vw;
  border-radius: 10vw;
  font-size: 1.3vw;
}

@media (max-width: 767px) {
  main #section3 .numbers div {
    margin-left: 5%;
  }
}

footer #foot {
  background: black;
  color: white;
  text-align: center;
  padding: 3vh 0 1vh 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  footer #foot {
    background: #623bbb;
  }
  footer #foot .col-md-3 {
    display: none;
  }
  footer #foot .terms {
    font-size: 3.5vw !important;
    margin-bottom: 5vh;
    margin-top: 0 !important;
  }
}

footer #foot .col-md-3 {
  max-width: 15vw;
}

footer #foot h6 {
  font-weight: bold;
  font-size: 1vw;
}

footer #foot span {
  font-size: 0.9vw;
}

footer #foot .terms {
  margin-top: 5vh;
  font-size: 0.8vw;
}